<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to 99 cats, cat lovers!</h1>
    <p>
      we are glad you have came to our site.<br />
    </p>
    <p>
      to create a cat, just follow this link: <%= @url %>.
    </p>
    <p>Thanks participating</p>
  </body>
</html>