/* PHASE 2: Navigation */


.header-logo {
    border-right: 1px solid #ccc;
    font-weight: 700;
    float: left;
}

.header-logo:hover {
  background: #000;
}

.header-list > li {
    border-left: 1px solid #ccc;
    float: left;
}
.header-list {
  float: right;
}


.header-list > li:hover {
  background: #000;
}